@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Mitr', sans-serif;
  background: #0D1117;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 1rem;
}

.divisao_logo {
  display: flex;
  align-items: center;
}

.imagem_logo {
  width: 2.5rem;
}

.texto_logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin: .25rem 0 0 .5rem;
  color: #FFFFFF;
}

.botao_cabecalho {
  border-radius: .25rem;
  margin: 0 .5rem;
  cursor: pointer;
  padding: .45rem 1.25rem;
  border: none;
  color: #FFFFFF;
  background: #0052CC;
  font-family: 'Mitr', sans-serif;
}

.introducao {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: center;
}

.divisao_introducao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 5rem 0;
}

.texto_introducao {
  letter-spacing: .25rem;
  font-size: .8rem;
  color: #079DE0;
}

.titulo_introducao {
  font-size: 2rem;
  color: #FFFFFF;
}

.subtitulo_introducao {
  width: 35rem;
  margin: .5rem 0;
  font-size: .95rem;
  color: #CCDAE7;
}

.botao_introducao {
  border-radius: 5rem;
  margin: 1rem .5rem 0 .5rem;
  cursor: pointer;
  padding: .55rem 1.75rem;
  border: none;
  color: #FFFFFF;
  background: #0052CC;
  font-family: 'Mitr', sans-serif;
}

.divisao_presente {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.imagem_introducao {
  width: 8.5rem;
}

.divisao_efeito {
  position: absolute;
}

.divisao_efeito_topo {
  top: 3%;
  left: 20%;
}

.efeito_introducao {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 1.5rem;        
  background: #0052CC;
  border-radius: 50%;
  filter: blur(30px);
  z-index: 65;
}

.icone_introducao {
  color: #0052CC;
  font-size: 1.5rem;
}

.sorteio_numero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 0;
  background: #0B0F15;
}

.divisao_sorteio_numero {
  margin: 0 2.5rem 0 0;
}

.imagem_sorteio_numero {
  width: 25rem;
}

.titulo_sorteio_numero {
  font-size: 2rem;
  color: #FFFFFF;
}

.subtitulo_sorteio_numero {
  width: 25rem;
  font-size: .95rem;
  color: #CCDAE7;
}

.sorteio_nome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 0;
}

.divisao_sorteio_nome {
  margin: 0 0 0 2.5rem;
}

.imagem_sorteio_nome {
  width: 25rem;
}

.titulo_sorteio_nome {
  font-size: 2rem;
  color: #FFFFFF;
}

.subtitulo_sorteio_nome {
  width: 25rem;
  font-size: .95rem;
  color: #CCDAE7;
}

.sorteio_registrado {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 0;
  background: #0B0F15;
}

.divisao_sorteio_registrado {
  margin: 0 2.5rem 0 0;
}

.imagem_sorteio_registrado {
  width: 25rem;
}

.titulo_sorteio_registrado {
  font-size: 2rem;
  color: #FFFFFF;
}

.subtitulo_sorteio_registrado {
  width: 25rem;
  font-size: .95rem;
  color: #CCDAE7;
}

.bora_comecar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6.5rem 0;
  background-image: url('./images/efeito.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40rem;
}

.titulo_bora_comecar {
  font-size: 2rem;
  color: #FFFFFF;
}

.botao_bora_comecar {
  border-radius: 5rem;
  margin: 1rem .5rem 0 .5rem;
  cursor: pointer;
  padding: .55rem 1.75rem;
  border: none;
  color: #FFFFFF;
  background: #0052CC;
  font-family: 'Mitr', sans-serif;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.25rem 0;
  background: #171E25;
}

.texto_logo_rodape {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.copy_rodape {
  margin: .5rem 0;
  font-size: .95rem;
  color: #CCDAE7;
}
